[submodule "libs/darkmode"]
	path = libs/darkmode
	url = https://github.com/plainlib/darkmode.git
	branch = main
[submodule "libs/helpers"]
	path = libs/helpers
	url = https://github.com/plainlib/helpers.git
	branch = main
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/plainlib/openssl.git
	branch = main
[submodule "libs/synapse"]
	path = libs/synapse
	url = https://github.com/plainlib/synapse.git
	branch = main
[submodule "libs/toolkit"]
	path = libs/toolkit
	url = https://github.com/plainlib/toolkit.git
	branch = main
[submodule "libs/richmemo"]
	path = libs/richmemo
	url = https://github.com/plainlib/richmemo.git
	branch = master
[submodule "libs/richkit"]
	path = libs/richkit
	url = https://github.com/plainlib/richkit.git
	branch = main
[submodule "libs/designkit"]
	path = libs/designkit
	url = https://github.com/plainlib/designkit.git
	branch = main
