// Resource definitions for the checkupdates package translations.
// PO files are located in the "locale" subfolder.
// Resource names: CHECKUPDATES_<LANG> where <LANG> is the uppercase language code.

CHECKUPDATES_AR RCDATA "locale/checkupdates.ar.po"
CHECKUPDATES_BE RCDATA "locale/checkupdates.be.po"
CHECKUPDATES_BG RCDATA "locale/checkupdates.bg.po"
CHECKUPDATES_CS RCDATA "locale/checkupdates.cs.po"
CHECKUPDATES_DA RCDATA "locale/checkupdates.da.po"
CHECKUPDATES_DE RCDATA "locale/checkupdates.de.po"
CHECKUPDATES_EL RCDATA "locale/checkupdates.el.po"
CHECKUPDATES_EN RCDATA "locale/checkupdates.en.po"
CHECKUPDATES_ES RCDATA "locale/checkupdates.es.po"
CHECKUPDATES_FI RCDATA "locale/checkupdates.fi.po"
CHECKUPDATES_FR RCDATA "locale/checkupdates.fr.po"
CHECKUPDATES_HE RCDATA "locale/checkupdates.he.po"
CHECKUPDATES_HI RCDATA "locale/checkupdates.hi.po"
CHECKUPDATES_ID RCDATA "locale/checkupdates.id.po"
CHECKUPDATES_IT RCDATA "locale/checkupdates.it.po"
CHECKUPDATES_JA RCDATA "locale/checkupdates.ja.po"
CHECKUPDATES_KO RCDATA "locale/checkupdates.ko.po"
CHECKUPDATES_NL RCDATA "locale/checkupdates.nl.po"
CHECKUPDATES_PL RCDATA "locale/checkupdates.pl.po"
CHECKUPDATES_PT RCDATA "locale/checkupdates.pt.po"
CHECKUPDATES_RO RCDATA "locale/checkupdates.ro.po"
CHECKUPDATES_RU RCDATA "locale/checkupdates.ru.po"
CHECKUPDATES_SV RCDATA "locale/checkupdates.sv.po"
CHECKUPDATES_TR RCDATA "locale/checkupdates.tr.po"
CHECKUPDATES_UK RCDATA "locale/checkupdates.uk.po"
CHECKUPDATES_VI RCDATA "locale/checkupdates.vi.po"
CHECKUPDATES_ZH RCDATA "locale/checkupdates.zh.po"
